1. 판다스에서의 인덱스 사용법  
데이터프레임에서 인덱스는 각 행을 고유하게 식별할 수 있는 라벨로, 특정 행이나 그룹을 쉽게 선택할 수 있다. 특정 열을 인덱스로 설정하면 데이터 선택이 더욱 직관적이다. 단일 열 선택은 열 이름을 사용하여 가능하다. 행 선택을 위해 iloc[]을 사용하면 정수 인덱스로 행을 선택할 수 있으며, 'loc[]'을 사용하면 인덱스 라벨로 특정 행을 선택할 수 있다. 여러 행을 선택하거나 부분적으로 선택하는 것도 가능하다.

In [ ]:
#둘 이상의 열을 인덱스로 설정함  # reset_index() 함수로 재설정 가능
import pandas as pd
data = {
    '이름': ['철수', '영희', '민수'],
    '나이': [25, 30, 35],
    '직업': ['학생', '회사원', '프리랜서']
}
df = pd.DataFrame(data)

df = df.set_index('이름')  # '이름' 열을 인덱스로 설정
print(df)

# '나이' 열 선택
print(df['나이'])

# 여러 열 선택
print(df[['나이', '직업']])

# 라벨 값을 기반으로한 특정 행 선택
print(df.loc['영희'])

# 정수 값을 기반으로한 특정 행 선택
print(df.iloc[0])   # 첫 번째 행 지정

    나이    직업
이름
철수  25    학생
영희  30   회사원
민수  35  프리랜서
이름
철수    25
영희    30
민수    35
Name: 나이, dtype: int64
    나이    직업
이름
철수  25    학생
영희  30   회사원
민수  35  프리랜서
나이     30
직업    회사원
Name: 영희, dtype: object
나이    25
직업    학생
Name: 철수, dtype: object

In [ ]:
import pandas as pd # 여러 행 선택하기
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 90000, 95000]
}
df = pd.DataFrame(data)
print(df) 

selected_data = df.iloc[[1, 3, 4], [0, 2]]  # 1, 3, 4번 행과 0, 2번 열 선택
print(selected_data)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   90000
4      Eve   45      Phoenix   95000
    Name         City
1    Bob  Los Angeles
3  David      Houston
4    Eve      Phoenix