## 문제 1
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])
print(my_tuple[4])
print(my_tuple[6])

In [2]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])

3

In [3]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[4])

5

In [4]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[6]) # 여섯 번째 요소는 없기 때문에 에러가 발생함

IndexError: tuple index out of range

## 문제 2
다음 튜플에서 값 4의 인덱스를 구하세요.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [5]:
my_tuple = (1, 2, 3, 4, 5)
result=my_tuple.index(4) # 숫자 4의 인덱스 위치는 세번째임
print(result)

3

## 문제 3
다음 튜플에서 요소 3의 개수를 구하세요.

In [ ]:
my_tuple = (1, 3, 3, 3, 5, 3)

In [6]:
my_tuple = (1, 3, 3, 3, 5, 3)
print(my_tuple.count(3))

4

## 문제 4
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[::-1])

In [7]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[::-1]) # 역슬라이싱 
# 1칸씩 역순 이동 # ::-2는 두칸씩 이동 
# # 3:0:-1은 3번째 인덱스인4부터 0번째 인덱스인 1을 제외한 4,3,2가 출력

(5, 4, 3, 2, 1)

## 문제 5
튜플 my_tuple = (10, 20, 30, 40, 50)에서 첫 번째 요소와 마지막 요소를 제외한 중간 요소들로만 이루어진 튜플을 구하세요.

In [8]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple[1:-1]

(20, 30, 40)

## 문제 6
다음 코드의 출력 결과는 무엇인가요?

my_tuple = tuple('hello')
print(my_tuple)

In [9]:
my_tuple = tuple('hello')
print(my_tuple)

('h', 'e', 'l', 'l', 'o')

### 문제 6-1
튜플 (1, 2, 3)을 리스트 [1, 2, 3]으로 변환하는 코드를 작성하세요.

In [11]:
my_tuple=(1,2,3)
my_list=list(my_tuple)
print(my_list)

[1, 2, 3]

## 문제 7
튜플 my_tuple = (1, 2, 3)이 있습니다. 이 튜플에 4를 추가하여 (1, 2, 3, 4)로 만들고 싶습니다. 어떻게 해야 하나요?

In [16]:
my_tuple=(1,2,3)
my_tuple+(4,)

(1, 2, 3, 4)

In [19]:
my_string="hello"
my_string+=' world!'
print(my_string)

hello world!

## 문제 8
다음 코드의 출력 결과는 무엇인가요?

a = (1, 2)
b = (3, 4)
print(a * 2 + b)

In [20]:
a = (1, 2) 
b = (3, 4)
print(a * 2 + b) # a튜플이 2번 반복되고 b튜플이 한번 더해짐

(1, 2, 1, 2, 3, 4)

## 문제 9
다음 코드의 출력 결과는 무엇인가요?

my_tuple = (1, [2, 3], 4)
my_tuple[1][0] = 'a'
print(my_tuple)

In [21]:
my_tuple = (1, [2, 3], 4) #요소는 1, [2,3], 4 이렇게 세 가지가 있음
my_tuple[1][0] = 'a' #[1]은 [2,3]을 가르킴. [1]의 [0]번째를 a로 변경함
print(my_tuple)

(1, ['a', 3], 4)

## 문제 10
다음 코드의 출력 결과는 무엇인가요?

a = (1, 2)
b = (3, 4)
a, b = b, a
print(a)
print(b)

In [22]:
a = (1, 2)
b = (3, 4)
a, b = b, a
print(a)
print(b)

(3, 4)
(1, 2)

my_tuple = (1, 2, 3)
x, y, z = my_tuple
print(x, y, z)

In [23]:
my_tuple = (1, 2, 3)
x, y, z = my_tuple
print(x, y, z)

1 2 3

def func():
    return 1, 2, 3

result = func()
print(type(result))

In [24]:
def func():
    return 1, 2, 3 # 함수가 여러 값을 반환하면 튜플로 묶어 반환함

result = func()
print(type(result))

<class 'tuple'>

## 문제 11
다음 튜플에서 최대값과 최소값을 구하세요.

In [ ]:
numbers = (5, 2, 8, 1, 3)

In [31]:
numbers = (5, 2, 8, 1, 3)
max(numbers)

8

In [32]:
min(numbers)

1

## 문제 12
튜플 (1, 2, 3, 4, 5)를 문자열 '1 2 3 4 5'로 변환하는 코드를 작성하세요.

In [33]:
my_tuple = (1, 2, 3, 4, 5)
v, w, x, y, z = my_tuple
print(v, w, x, y, z)

1 2 3 4 5

In [35]:
my_tuple = (1, 2, 3, 4, 5)
result=''.join(map(str,my_tuple))
print(result)

12345